/* ProfilePage.css */

.profile-container {
  max-width: 100vw;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
.profile-edit-form{
  padding-top: 115px;
}
.profile-edit-form input, textarea{
  font-size: 20px;
  font-family: "Big Shoulders Display";
}

.cover-picture {
  width: 100%;
  max-height: 200px;
  object-fit: cover;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  position: relative;
}

.profile-picture {
  width: 150px;
  height: 150px;
  border: 5px solid #fff;
  border-radius: 50%;
  margin-top: -75px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.profile-title {
  font-size: 80px;
  margin: 60px 0 20px;
  color: #333;
  text-align: center;
}

.profile-info {
  font-size: 25px;
  margin-bottom: 10px;
  color: #555;
  text-align: center;
}

.profile-subtitle {
  font-size: 25px;
  margin-top: 20px;
  color: #333;
  text-align: center;
}

.profile-bio-text {
  font-size: 20px;
  color: #333;
}

.profile-list {
  list-style: none;
  padding-left: 0;
  text-align: center;
}

.profile-list li {
  font-size: 16px;
  color: #777;
  margin-bottom: 5px;
}

.edit-profile-link {
  display: inline-block;
  padding: 10px 20px;
  background-color: #ED6658; 
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 20px;
  font-size: 18px;
  text-align: center;
}



.cover-image {
  width: 100%;
  max-height: 300px;
  object-fit: cover;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.custom-calendar {
  width: 100%;
}

.highlighted {
  background: #01792b; 
  border-radius: 50%; 
  color: white; 
}

.smaller-calendar {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}
.video-container {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 aspect ratio (adjust as needed) */
  padding-top: 25px;
  height: 0;
  overflow: hidden;
  margin-top:30px;
}




.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

/* ProfilePage.css */

/* Center the content */
.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}



.edit-cover-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 50%;
  padding: 5px;
  cursor: pointer;
}

/* Profile header */
.profile-header {
  margin-top: 20px;
}

.profile-picture {
  width: 150px;
  height: 150px;
}

.edit-profile-icon {
  margin-top: 10px;
  cursor: pointer;
}



.profile-info {
  color: #777;
}

/* Horizontal cards */
.horizontal-cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.horizontal-card {
  width: 300px;
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: left;
}

.horizontal-card h5 {
  font-size: 18px;
  margin: 10px;
}

.horizontal-card p {
  margin: 10px;
  color: #777;
}

/* Edit Profile button */
.edit-profile-button {
  background-color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  margin-top: 20px ;
  color: black;
  font-size: 28px;
  font-weight: bolder;
  cursor: pointer;
  font-family: "Big Shoulders Display";
  text-align: right;
  margin-right: 0px;
}

.edit-profile-button:hover {
  background-color: black;
  color: white;
  transform: scale(1.05);
  text-align: center;
}

.done-cancel-buttons {
  display: flex;
}
