signuplogin
/* NavBar.css */
.custom-navbar {
    background: transparent !important;
    transition: background 0.5s; /* Add a smooth transition effect */
  }
  


.navbar1 {
    background-color: #da928f;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    font-family:"Big Shoulders Display";
    font-weight: bolder;
    font-size: 30px;
 border-bottom: 1px solid #fcfcfc;
    size: 40px;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    transition: background-color 0.3s;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .navbar-logo {
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  
  .navbar-nav {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .navbar-item {
    margin: 0 20px;
    position: relative;
  }
  
  .navbar-item:last-child {
    margin-right: 0;
  }
  
  .navbar-link {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    transition: color 0.3s;
  }
  
  .navbar-link:hover {
    color:black;
  }
  
  /* A special style for the "Sign Up" and "Login" buttons */
  .navbar-button {
    background-color: #da928f;;
    color: #000;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  .push{
    margin-left: auto;
  }
  
  .navbar-button:hover {
    background-color: black;
    color: white;
   
  }
  
  .navbar-button a{
    color: white !important;
  }


