.LoginPage {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.login-container {
  flex: 1;
  background-color: white;
  font-family: "Big Shoulders Display";
  font-weight: bolder;
  text-align: center;
  padding: 20px;

}



.image-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.image-container img {
  max-width: 800px;
  height: auto;
}
.login-form {
  background-color:white;
  color: #333;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 5px;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); */
}

.login-form label {
  font-weight: bold;
  margin-bottom: 10px;
  display: block;
  font-family: "Big Shoulders Display";
}
.login-form input {
  padding: 8px;
  border: 1px solid #ccc;
  width: 100%;
  border-radius: 5px;
  font-size: 16px;
  text-align: center;
  display: block;
}
.login-button {
  background-color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  margin-top: 20px ;
  color: black;
  font-size: 28px;
  font-weight: bolder;
  cursor: pointer;
  font-family: "Big Shoulders Display";
  text-align: right;
  margin-right: 0px;
}