.consultants-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.background-image {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 400px; 
  width: 100%;
  position: relative;
}

.transbox {
  background-color: rgba(255, 255, 255, 0.6);
  padding-bottom: 27px;
  text-align: center;
}

.title {
  font-size: 30px;
  font-weight: bolder;
  color: black;
  margin-bottom: 10px;
  font-family: 'Big Shoulders Display', sans-serif;
}

.infoText {
  margin-top: 10px;
}

.transparentPaper {
  padding: 20px;
  font-size: 18px;
}

.paragraph {
  font-size: 24px;
}

.white {
  color: white;
}

.cards {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 20px;
  background: white; 
  
}

.card {
  background: white; 
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 10px;
  font-size: 24px; 
  font-weight: bolder;
  padding: 20px;
  text-align: center;
  width: 18rem;
  font-family: 'Big Shoulders Display', sans-serif;
}

.additional-info-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background: white; 
  margin-top: 20px; 
}

.card-title {
  font-size: 30px;
  font-weight: bolder;
  font-family: 'Big Shoulders Display', sans-serif;
}

.four-box-background {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: space-around;
  padding: 20px;
  margin-top: 20px; 
  /*background-image: url(./orangepomelo.png);*/
}
